@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}
:root {
    --bg-color: #000000;
    --second-bg-color: #1b1b1b;
    --third-bg-color: #181818;
    --text-color: #fff;
    --first-theme-color: #2D8DDC;
    --second-theme-color: #9d60ff;
    --third-theme-color: #DC3100;
}

html {
    overflow-x: hidden;
}
body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    padding: 2rem 2rem 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 5;*/
}

.logo {
    font-size: 1.75rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
header span {
    text-shadow: 0 0 20px var(--second-theme-color);
    color: var(--second-theme-color);
}

.navbar a {
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 0.25rem;
}
.navbar a:hover,
.navbar a.active {
    color: var(--second-theme-color);
    border: 3px solid var(--second-theme-color);
    box-shadow: 0 0 7px var(--second-theme-color);
    background-color: #000000;
}
#menu-icon {
    font-size: 3rem;
    color: var(--second-theme-color);
    display: none;
}

section {
    /* min-height: 100vh; */
    /* margin: auto; */
}
section:not(.home-grid) {
    width: 100%;    
    padding: 20vh 0;
    margin: auto;
    /* border-top: 5px solid var(--second-theme-color); */
} 

@media only screen and (min-width: 2000px) {
    .home-grid {
        max-width: 80%;
        margin: auto;
    }
}

.home-grid {
    padding: 100px 0 20px 0;
    min-height: 100vh;
}
.home-grid-col {
    display: grid;
    grid-template-columns: repeat(2, 50%); /* This centered the col content, made it smaller than 50% */
    justify-content: center;
    align-items: center; 
}
.col-left {
    padding-left: 40px;
} 
/* .col-right {
    justify-content: center;
    align-items: center;
    margin: auto;
} */

.purple-text {
    color: var(--second-theme-color);
}

.profile-img img {
    top: 3rem;
    width: 60%;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--second-theme-color);
    box-shadow: 0 0 25px var(--second-theme-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin: 10% 20% 5% 25%; 
}
.profile-img img:hover {
    box-shadow: 0 0 25px var(--second-theme-color),
                0 0 50px var(--second-theme-color),
                0 0 100px var(--second-theme-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    background: transparent;
    border: 1px solid var(--second-theme-color);
    border-radius: 50%;
    color: var(--second-theme-color);
    font-size: 1.5rem;
    box-shadow: 0 0 5px var(--second-theme-color);
    margin: 1rem 2rem 1rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.1)translateY(-3px);
    box-shadow: 0 0 10px var(--second-theme-color);
    background-color: var(--second-theme-color);
}

.btn, .btn-nav {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--second-theme-color);
    box-shadow: 0 0 5px var(--second-theme-color);
    border-radius: 20px;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    font-weight: 500;
    border: 2px solid transparent;
    margin-right: 15px;
}
.btn:hover {
    background: transparent;
    box-shadow: 0 0 10px var(--second-theme-color);
    border: 2px solid var(--second-theme-color);
    color: var(--second-theme-color);
    transform: scale(1)translateY(3px);
}


section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.skills-section {
    background-color: var(--third-bg-color);
}
.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    border: 3px solid var(--second-theme-color);
    margin: auto;
    padding: 20px 20px;
    border-radius: 20px;
    /* box-shadow: 0 0 7px var(--second-theme-color); */
    width: 80%;
}
.grid-boxes {
    text-align: center;
    background-color: var(--second-theme-color);
    border-radius: 5px;
    padding: 10px 0;
    /* box-shadow: 0 0 7px var(--second-theme-color); */
}
.grid-boxes i {
    font-size: 50px;
}

/* Education Section */
.timeline-items{
    justify-content: center;
    margin: auto;
    width: 80%;
}
.timeline-header {
    text-align: center;
    text-decoration: underline;
    color: var(--second-bg-color);
}
.timeline-item {
    background-color: var(--second-theme-color);
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    /* box-shadow: 0 0 7px var(--second-theme-color); */
}
.content-list {
    margin-left: 40px;
}

/* Project Section */
.projects-section {
    background-color: var(--third-bg-color);
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-gap: 30px;
    width: 80%;
    margin: auto;
}
.project-card {
    background-color: var(--first-theme-color);
    color: var(--bg-color);
    border-radius: 5px;
    /* box-shadow: 0 0 7px var(--first-theme-color); */
    padding: 20px;
    text-align: center;
}
.project-img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--bg-color); 
    box-shadow: 0 0 5px var(--bg-color);  
}

/* Contact Section */
.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 10%);
    justify-content: center;
    gap: 20px 30px;
}
.contact-grid a {
    padding: 10px;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    color: var(--second-theme-color);
    grid-column: span 2;
    border: 2px solid var(--second-theme-color);
}
.contact-grid a:last-child {
    grid-column: 2 / span 2;
    text-align: center;
}
.contact-grid i {
    color: var(--text-color);
}

/* Projects Page */
main {
    margin: 150px 0 50px 0;
    width: 100%;
}
.project-container {
    width: 80%;
    display: grid;
    grid-template-columns: 40% 1fr;
    background-color: var(--second-theme-color);
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    column-gap: 20px;
}
.wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
}
.img-card {
    scroll-snap-align: right;
    display: flex;
    align-items: center;
    margin-right: 5px;
}
.img-card img {
    width: 400px;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
}

/* Footer */
footer {
    width: 100%;
    /* bottom: 0; */
    padding: 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
footer a {
    color: var(--text-color);
}