@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}
:root {
    --bg-color: #000000;
    --second-bg-color: #1b1b1b;
    --third-bg-color: #181818;
    --text-color: #fff;
    --first-theme-color: #2D8DDC;
    --second-theme-color: #9d60ff;
    --third-theme-color: #DC3100;
}

html {
    overflow-x: hidden;
}
body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
a { color: var(--text-color); }
span { color: var(--second-theme-color); }

/* Header and NavBar */
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--third-bg-color);
    height: 75px;
}
nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: fixed;
    width: 60%;
    backdrop-filter: blur(5px);
    margin: auto;
    padding: 10px 0;
    border-radius: 50px;
    box-shadow: 0 0 7px var(--third-bg-color);
}
nav a {
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
}
nav a:hover {
    color: var(--second-theme-color);
    border: 3px solid var(--second-theme-color);
    box-shadow: 0 0 7px var(--second-theme-color);
    background-color: var(--second-bg-color);
}
#menu-icon {
    font-size: 3rem;
    color: var(--second-theme-color);
    display: none;
}

/* All Sections */
section:not(.home-section) {
    /* width: 100%;    */
    margin: 50px 50px; 
    padding: 75px 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column; 
} 
.sec-content {
    max-width: 1200px;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

/* Home Section */
.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin: 50px 0;
}
.home-grid-cols {
    gap: 20px; 
}
.col-right {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    max-width: 600px;
}
.col-right img {
    width: 70%;
    height: auto;
    border-radius: 50%;
    border: 3px solid var(--second-theme-color);
    box-shadow: 0 0 25px var(--second-theme-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.col-right img:hover {
    box-shadow: 0 0 25px var(--second-theme-color),
                0 0 50px var(--second-theme-color),
                0 0 100px var(--second-theme-color);
}
.col-left {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    padding-left: 30px;
}
.col-left h1 {
    font-size: 3rem;
}
/* Links */
.social-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin: 10px 0;
    padding: 10px 0; 
    border-top: 5px dashed var(--second-theme-color);
}
.social-links a {
    border: 3px solid var(--second-theme-color);
    color: var(--second-theme-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s ease-in-out;
}
.social-links a:hover {
    color: var(--text-color);
    background-color: var(--second-theme-color);
}
.social-links i {
    font-size: 2rem;
}

/* About Section */
.about-summary {
    width: 80%;
}

/* Skills Section */
.skills-grid {
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 20px 20px;
}
.grid-boxes {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--second-theme-color);
    border-radius: 5px;
    padding: 10px;
}
.grid-boxes:nth-child(3n), .education-item:nth-child(even), .project-card:nth-child(even) {
    background-color: var(--third-bg-color);
    border: 3px solid var(--second-theme-color);
    color: var(--second-theme-color);
}
.grid-boxes i {
    font-size: 80px;
}
.grid-boxes h3 {
    font-size: 25px;
}

/* Education Section */
.education-items {
    flex-wrap: wrap;
    flex-direction: row;
    grid-gap: 20px;
    padding: 20px;
}
.education-item {
    width: 40%;
    height: 400px;
    padding: 40px;
    background-color: var(--second-theme-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

/* Project Section */
.project-cards {
    flex-wrap: wrap;
    padding: 20px;
    grid-gap: 20px;
    display: flex;
    justify-content: center;
}
.project-card {
    background-color: var(--second-theme-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 30%;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* Contact Section */
.contact-grid {
    flex-wrap: wrap;
    padding: 20px;
    grid-gap: 20px;
    display: flex;
    justify-content: center;
}
.contact-grid a {
    padding: 10px;
    background-color: var(--third-bg-color);
    border-radius: 5px;
    border: 2px solid var(--second-theme-color);
    width: 30%;
    text-align: center;
}

/* Projects Page */


/* Footer */
footer {
    width: 100%;
    bottom: 0;
    padding: 2rem 5rem;
    background-color: var(--third-bg-color);
    text-align: center;
}
