@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', 'sans-serif';
}
:root {
    --bg-color: #000000;
    --second-bg-color: #1b1b1b;
    --text-color: #fff;
    --first-theme-color: #00acdc;
    --second-theme-color: #9d60ff;
    --third-theme-color: #DC3100;
}

html {
    overflow-x: hidden;
}
body {
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2rem 2rem 5rem;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 1.75rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    transform: scale(1.1);
}
header span {
    text-shadow: 0 0 20px var(--second-theme-color);
    color: var(--second-theme-color);
}

.navbar a {
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border: 3px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 0.25rem;
}
.navbar a:hover,
.navbar a.active {
    color: var(--second-theme-color);
    border: 3px solid var(--second-theme-color);
    box-shadow: 0 0 7px var(--second-theme-color);
}
#menu-icon {
    font-size: 2.6rem;
    color: var(--second-theme-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 8rem 0;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}
.home-grid-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.col-left {
    margin: 0 15% 0 15%;
}

.home-content span {
    color: var(--second-theme-color);
}
.home-content h1 {
    font-size: 3rem;
}
.home-content p {
    font-weight: 400;
    max-width: 600px;
}

.profile-img {
    border-radius: 50%;
}
.profile-img img {
    position: relative;
    top: 3rem;
    width: 60%;
    border-radius: 50%;
    border: 2px solid var(--second-theme-color);
    box-shadow: 0 0 25px var(--second-theme-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.profile-img img:hover {
    box-shadow: 0 0 25px var(--second-theme-color),
                0 0 50px var(--second-theme-color),
                0 0 100px var(--second-theme-color);
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.75rem;
    height: 2.75rem;
    background: transparent;
    border: p1x solid var(--second-theme-color);
    border-radius: 50%;
    color: var(--second-theme-color);
    font-size: 1.5rem;
    box-shadow: 0 0 5px var(--second-theme-color);
    margin: 1rem 1.25rem 1rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.1)translateY(-3px);
    box-shadow: 0 0 10px var(--second-theme-color);
    background-color: var(--second-theme-color);
}

.btn, .btn-nav {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: var(--second-theme-color);
    box-shadow: 0 0 5px var(--second-theme-color);
    border-radius: 20px;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    font-weight: 500;
    border: 2px solid transparent;
}
.btn:hover, .btn-nav:hover {
    background: transparent;
    box-shadow: 0 0 10px var(--second-theme-color);
    border: 2px solid var(--second-theme-color);
    color: var(--second-theme-color);
    transform: scale(1)translateY(3px);
}

.text-animation {
    font-size: 25px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span {
    position: relative;
}
.text-animation span::before {
    content: "Software Engineering Student";
    color: var(--second-theme-color);
    animation: words 20s infinite;
}
.text-animation span::after {
    content: "";
    background-color: var(--second-bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--second-bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/*
@keyframes cursor {
    to {
        border-left: 2.5px solid var(--second-theme-color);
    }
}
@keyframes words {
    0%, 20% {
        content: "Software Engineering Student";
    }
    21%, 40% {
        content: "Front-End Developer";
    }
    41%, 60% {
        content: "Web Designer";
    }
    61%, 80% {
        content: "Programmer";
    }
    81%, 100% {
        content: "Full-Stack Developer";
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
*/
