/* Navigation */
#menu-icon {
    position: fixed;
    display: block;
    border-radius: 50px;
    padding: 5px 75px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 7px var(--third-bg-color);
}
nav {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    transform: translateY(-100%); 
    transition: transform 0.3s ease-in-out;  
    z-index: 1000; 
    border-radius: 10px;
}
nav a {
    width: 90%;
    border: 3px solid var(--second-theme-color);
    background-color: rgba(27, 27, 27, 0.8);
    text-align: center;
    margin: 5px;
    padding: 10px;
}
.showNavbar {
    transform: translateY(4.5rem); 
}

/* Sections */
section:not(.home-section), .project-container {
    margin: 50px 20px;
}

/* Home Section */
.home-grid-cols {
    flex-direction: column-reverse;
}
.col-left, .col-right {
    width: 100%;
    text-align: center;
}
.col-left {
    padding: 20px;
}
.col-left h1 {
    font-size: 2rem;
}
.col-left h2 {
    margin-bottom: 10px;
}
.social-links {
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

/* About Section */
.about-summary {
    width: 100%;
}

/* Skills Section */
.skills-grid {
    grid-gap: 10px;
}
.grid-boxes {
    width: 140px;
    height: 140px;
}

/* Education Section */
.education-item, .project-card, .contact-grid a {
    width: 100%;
}
.education-item {
    padding: 25px;
}

/* Projects Page */
.project-header {
    flex-direction: column;
}
.project-img {
    width: 100%;
}
.project-img-mob {
    display: none;
}

/* Footer */
footer {
    padding: 2rem; 
}