.navbar {
    display: none;
}

.home-grid {
    grid-template-columns: repeat(1, 100%);
    padding: 6rem 0;
}
.col-left {
    order: 2;
}
.col-right {
    order: -1;
}

.skills-grid {
    grid-template-columns: repeat(2, 30%);
}
