/* Navigation */
#menu-icon {
    display: block;
}
.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    width: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    transform: translateY(-100%); 
    transition: transform 0.3s ease-in-out;  
    z-index: 1000; 
}
.showNavbar {
    transform: translateY(6rem); 
}

/* Home Section */
.home-grid-col {
    grid-template-columns: repeat(1, 100%);
}
.col-left {
    order: 2;
    text-align: center;
    padding: 0;
}
.col-left p {
    padding: 0 20px;
}
.social-icons a {
    margin: 20px 10px;
}
.btn-group a {
    margin: 0 10px;
}
.col-right {
    order: -1;
}
.profile-img img {
    margin: 10% 20%;
}

/* Skills Section */
.skills-grid {
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 20px;
}

/* Education Section */

/* Project Section */
.project-cards {
    grid-template-columns: repeat(1, 1fr);
}

/* Contact Section */
.contact-grid {
    grid-template-columns: repeat(1, 80%);
}
.contact-grid a {
    grid-column: span 1;
}
.contact-grid a:last-child {
    grid-column: span 1;
    text-align: left;
}

/* Projects Page */
.project-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
}

/* Footer */
footer {
    padding: 2rem; 
}